<div *ngIf="isLoading" class="text-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" style="width: 10rem; height: 10rem; border-width: 0.5rem; margin: 50px;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <h4>Loading...</h4>
</div>

<div class="container" style="margin-top: 30px; margin-bottom: 80px;">
    <div class="row text-dark" style="padding: 5px;" *ngIf="!isLoading">
        <div class="col">
            <h4>Total count: <strong>{{ orders.length }}</strong></h4>
        </div>
        <div class="col" style="text-align: right;">
            <h4>Total sum: <strong>{{ totalSum | number : '1.2-2' : 'sr' }}</strong></h4>
        </div>
    </div>
    <div class="row" *ngFor="let order of orders; index as i" style="padding: 5px;">
        <div class="col">
            <div class="{{ ((i+1) % 2 == 0) ? 'card text-dark' : 'card bg-light text-dark' }}">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5>Order ID: <strong>{{ order.orderID }}</strong></h5>
                        </div>
                        <div class="col" style="text-align: right;">
                            <h5><i class="far fa-calendar-alt"></i><strong> {{ order.time | date:'dd/MM/yyyy' }} </strong><i class="far fa-clock"></i><strong> {{ order.time | date:'HH:mm:ss' }}</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <h6><i class="fas fa-user"></i> Name:</h6>
                            </div>
                            <div class="row">
                                <h5><strong>{{ order.firstName }} {{ order.lastName }}</strong></h5>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="row">
                                <h6><i class="fas fa-map-marker-alt"></i> Address:</h6>
                            </div>
                            <div class="row">
                                <h5><strong>{{ order.address }}</strong></h5>
                            </div>
                        </div>
                        <div class="col-2" style="text-align: center;">
                            <div class="row">
                                <h6><i class="fas fa-question"></i> Delivery method:</h6>
                            </div>
                            <div class="row">
                                    <h5><strong>{{ order.delivery }} </strong>
                                        <i *ngIf="order.delivery=='DELIVERY'" class="fas fa-truck"></i>
                                        <i *ngIf="order.delivery=='PICKUP'" class="fas fa-store"></i>
                                    </h5>
                            </div>
                        </div>
                        <div class="col-2" style="text-align: center;">
                            <div class="row">
                                <h6><i class="fas fa-dollar-sign"></i> Payment method:</h6>
                            </div>
                            <div class="row">
                                <h5><strong>{{ order.paymentMethod }} </strong>
                                    <i *ngIf="order.paymentMethod=='CARD'" class="far fa-credit-card"></i>
                                    <i *ngIf="order.paymentMethod=='CASH'" class="far fa-money-bill-alt"></i>
                                    <i *ngIf="order.paymentMethod=='INVOICE'" class="fas fa-file-invoice"></i>
                                </h5>
                            </div>
                        </div>
                        <div class="col-2 text-primary" style="text-align: right;">
                            <div class="row">
                                <h6><strong>Total:</strong></h6>
                            </div>
                            <div class="row">
                                <h5><strong>{{ order.sum | number : '1.2-2' }}</strong></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <a class="btn btn-primary" [routerLink]="['/order-details', order.orderID]">Details <i class="fas fa-info-circle"></i></a>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button class="btn btn-warning" (click)="onDelete(order.orderID)">Delete <i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
