<div *ngIf="isLoading" class="text-center">
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary"
            style="width: 10rem; height: 10rem; border-width: 0.5rem; margin: 50px;" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <h4>Loading...</h4>
</div>

<div class="container-fluid" style="width: 90%; padding: 20px; margin-bottom: 30px;"
    *ngIf="isDataAvailable && !isLoading && userIsAuthenticated">
    <div class="row">
        <div class="col-8" style="display: flex; flex-direction: column; justify-content: center;">
            <div class="row text-dark" style="padding: 5px;" *ngIf="!isLoading && user.isAdmin">
                <div class="col">
                    <h4>Total count: <strong>{{ products.length }}</strong></h4>
                </div>
                <div class="col" style="text-align: right;">
                    <a [routerLink]="['/products/new']" class="btn btn-primary btn-lg">Add New Product <i class="fas fa-plus"></i></a>
                </div>
            </div>
            <div class="row" *ngFor="let product of products">
                <div class="col">
                    <div class="{{ product.promotion > 0 ? 'card border-success bg-light' : 'card' }}"
                        style="width: 100%;">
                        <div class="row no-gutters">
                            <div class="col-md-3 align-self-center">
                                <img [src]="getImage(product.imagePath)" class="card-img" alt="{{ product.name }}">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h3 class="card-title" *ngIf="!user.isAdmin">{{ product.name }}</h3>
                                            <a [routerLink]="['/product-details', product.productID]"
                                                *ngIf="user.isAdmin">
                                                <h3 class="card-title">{{ product.name }}</h3>
                                            </a>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <h3 class="card-text" *ngIf="product.promotion > 0"
                                                style="text-align: right; font-weight: bold; color: green">
                                                Promotion: {{ product.promotion | number : '1.2-2' }}%</h3>
                                        </div>
                                    </div>
                                    <br>
                                    <h5 class="card-text">{{ product.description }}</h5>
                                    <hr>
                                    <div class="row" style="vertical-align: bottom;">
                                        <div class="col" *ngIf="product.promotion>0">
                                            <h3 class="card-title" style="color: red"><del>Old Price: {{ product.price |
                                                    number
                                                    : '1.2-2' }}</del></h3>
                                            <h3 class="card-title" style="color: green; font-weight: bold;">New Price:
                                                {{
                                                (product.price - (product.price * (product.promotion / 100)))
                                                | number : '1.2-2' }}</h3>
                                        </div>
                                        <div class="col" *ngIf="product.promotion==0">
                                            <h3 style="visibility: hidden;">Old price</h3>
                                            <h3 class="card-title" style="font-weight: bold;">Price: {{ product.price |
                                                number :
                                                '1.2-2' }}</h3>
                                        </div>
                                        <div class="col" style="text-align: right;">
                                            <br>
                                            <button class="btn btn-primary btn-lg"
                                                (click)="addToCart(product.productID, product.name, product.price, product.promotion)">
                                                Add to cart <i class="fas fa-cart-plus"></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-4" style="margin-bottom: 30px;">
            <div class="alert alert-dismissible alert-success" *ngIf="isSent">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
            <div class="card mb-3" style="max-width: 40rem;">
                <div class="card-header text-lg-center">
                    <h4 class="card-title">Cart <i class="fas fa-shopping-cart"></i></h4>
                    <span><i class="fas fa-user"></i> Name: {{ user.firstName }} {{ user.lastName }}</span>
                    <br>
                    <span><i class="fas fa-map-marker-alt"></i> Address: {{ user.address }}</span>
                </div>
                <div class="card-body" *ngIf="cart.length > 0">
                    <div class="row" style="height: 40px;">
                        <div class="col-4">
                            <p class="card-text" style="text-align: left;"><strong>Product name:</strong></p>
                        </div>
                        <div class="col-3">
                            <p class="card-text" style="text-align: right;"><strong>Quantity:</strong></p>
                        </div>
                        <div class="col-5">
                            <p class="card-text" style="text-align: right;"><strong>Price with promotion:</strong></p>
                        </div>
                    </div>
                    <div class="{{ (cart.indexOf(item)+1) % 2 == 0 ? 'row' : 'row bg-light' }}"
                        *ngFor="let item of cart" style="height: 40px;">
                        <div class="col-4 align-self-center" style="text-align: left;">
                            <p class="card-text">{{ item.name }}</p>
                        </div>
                        <div class="col-3 align-self-center" style="text-align: right;">
                            <p class="card-text">
                                <button class="btn btn-primary btn-sm" (click)="removeFromCart(item.productId)"
                                    style="width: 30px;">-</button>
                                <strong> {{ item.quantity }}x</strong>
                            </p>
                        </div>
                        <div class="col-5 text-right align-self-center" style="text-align: right;">
                            <p class="card-text"><strong>{{ item.price - (item.price * (item.promotion/100))
                                    | number : '1.2-2' }}</strong></p>
                        </div>
                    </div>
                </div>
                <div class="card-body text-center" *ngIf="cart.length <= 0">
                    <h5><strong>The cart is empty.</strong></h5>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-7">
                            <input class="form-check-input" type="checkbox" value=""
                                ([ngModel])="delivery" (change)="onDeliveryChange($event)">
                            <label class="form-check-label" for="flexCheckDefault">
                                Delivery <i class="fas fa-truck"></i>
                            </label>
                        </div>
                        <div class="col-5">
                            <h5 class="card-title" style="text-align: right; vertical-align: bottom;">
                                <strong>Total: {{ (totalSum | number : '1.2-2' : 'sr') }}</strong>
                            </h5>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-8">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="btnradio" id="radioCash" autocomplete="off"
                                    checked="" value="CASH" (change)="onCash($event)">
                                <label class="btn btn-outline-primary" for="radioCash">CASH <i
                                        class="far fa-money-bill-alt"></i></label>
                                <input type="radio" class="btn-check" name="btnradio" id="radioCard" autocomplete="off"
                                    checked="" value="CARD" (change)="onCash($event)">
                                <label class="btn btn-outline-primary" for="radioCard">CARD <i
                                        class="far fa-credit-card"></i></label>
                                <input type="radio" class="btn-check" name="btnradio" id="radioInvoice"
                                    autocomplete="off" checked="" value="INVOICE" (change)="onCash($event)">
                                <label class="btn btn-outline-primary" for="radioInvoice">INVOICE <i
                                        class="fas fa-file-invoice"></i></label>
                            </div>
                        </div>
                        <div class="col-4" style="text-align: right;">
                            <button class="btn btn-primary" *ngIf="cart.length>0" (click)="sendOrder()">Send order <i
                                    class="fas fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Entirely new container and visually different when user is not authenticated-->
<div class="container" style="padding: 20px; margin-bottom: 30px" *ngIf="!userIsAuthenticated && !isLoading">
    <div class="col-12" style="display: flex; flex-direction: column; justify-content: center;">
        <div class="row" *ngFor="let product of products">
            <div class="col">
                <div class="card" style="width: 100%;">
                    <div class="row no-gutters">
                        <div class="col-md-3" style="align-self: center;">
                            <img [src]="getImage(product.imagePath)" class="card-img" alt="{{ product.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="card-title">{{ product.name }}</h3>
                                    </div>
                                </div>
                                <br>
                                <h5 class="card-text">{{ product.description }}</h5>
                                <hr>
                                <div class="row" style="vertical-align: bottom;">
                                    <div class="col">
                                        <h3 style="visibility: hidden;">Old price</h3>
                                        <h3 class="card-title" style="font-weight: bold;">Price: {{ product.price |
                                            number :
                                            '1.2-2' }}</h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>