<div class="container">
    <h1 style="text-align: center;">Cakery Web Application</h1>
    <br>
    <h4 style="text-align: justify;">
        Cakery is a simple web app which helps you to order your favorite cake from our store. 
        You might want to pick up fresh cake directly from one of our shops? That's not a problem. 
        Just choose which option of delivery you would like and send us an order.
        <br>
        <br>
        Feel free to explore our products and order from us.

    </h4>
        <br>
        <br>
    <h2 style="text-align: right;"><strong>Remember! Home deliveries for first two orders are free!</strong></h2>
    <br>
    <br>
    <div class="d-flex justify-content-between">
        <img style="text-align: right; width: 30%; border-radius: 10px;" src="..\..\assets\images\about.jpg">
        <img style="text-align: right; width: 60%; border-radius: 10px;" src="..\..\assets\images\about-2.jpg">
    </div>
    </div>